body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 0 20px;
  border-bottom: 3px solid rgb(70, 58, 58);
  background-color: rgb(138, 117, 117);
  color: white;
}

.section-nav {
  background-color: black;
  height: min-content;
  color: wheat;
}

.section-links {
  margin: auto;
  width: 30%;
  min-width: 200px;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: auto 10px;
  padding: 5px;
}

nav a {
  padding: 8px;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: large;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 15px;
}

table {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  max-width: 750px;
  width: 100%;
}

th {
  background-color: rgb(199, 199, 199);
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
  text-align: left;
}

h2 {
  border-bottom: 2px solid grey;
}

img,
video {
  height: 300px;
  width: auto;
  padding: 8px;
}

.img-container {
  display: flex;
  flex-direction: row;
}
